<section id="experience">
  <div class="container">
    <!-- Title Text -->
    <h2 class="experince-title-text">
      Coffee Moments
    </h2>

    <!-- Description -->
    <p class="experience-description-text">
      Experience the warmth and community of CoffeeJoy.
    </p>

    <!-- Photo -->
    <ul class="experience-photo-galery">
      <li class="experience-photo-1">
        <picture>
          <source 
          srcset="/img/experience/experience-1-min.jpg 1x, 
          /img/experience/experience-1@2x-min.jpg 2x" 
          media="(max-width: 767px)">

          <source 
          srcset="/img/experience/experience-1-min.jpg 1x, 
          /img/experience/experience-1@2x-min.jpg 2x" 
          media="(min-width: 768px) and (max-width: 1439px)">

          <source 
          srcset="/img/experience/experience-1-min.jpg 1x, 
          /img/experience/experience-1@2x-min.jpg 2x" 
          media="(min-width: 1440px)">

          <img 
          src="/img/experience/experience-1-min.jpg"  
          alt="Coffee" 
          srcset="/img/experience/experience-1-min.jpg 1x, 
          /img/experience/experience-1@2x-min.jpg 2x">
        </picture>
      </li>

      <li class="experience-photo-2">
        <picture>
          <source 
          srcset="/img/experience/experience-2-min.jpg 1x, 
          /img/experience/experience-2@2x-min.jpg 2x" 
          media="(max-width: 767px)">

          <source 
          srcset="/img/experience/experience-2-min.jpg 1x, 
          /img/experience/experience-2@2x-min.jpg 2x"
          media="(min-width: 768px) and (max-width: 1439px)">

          <source 
          srcset="/img/experience/experience-2-min.jpg 1x, 
          /img/experience/experience-2@2x-min.jpg 2x" 
          media="(min-width: 1440px)">

          <img
          src="/img/experience/experience-2-min.jpg"   
          alt="A cozy breakfast setup with a cup of coffee, 
          a glass carafe filled with coffee, and a plate featuring a croissant with 
          a pat of butter, all placed on a wooden table near a window with curtains." 
          srcset="/img/experience/experience-2-min.jpg 1x, 
          /img/experience/experience-2@2x-min.jpg 2x">
        </picture>
      </li>

      <li class="experience-photo-3">
        <picture>
          <source 
          srcset="/img/experience/experience-3-min.jpg 1x, 
          /img/experience/experience-3@2x-min.jpg 2x" 
          media="(max-width: 767px)">

          <source 
          srcset="/img/experience/experience-3-min.jpg 1x, 
          /img/experience/experience-3@2x-min.jpg 2x" 
          media="(min-width: 768px) and (max-width: 1439px)">

          <source 
          srcset="/img/experience/experience-3-min.jpg 1x, 
          /img/experience/experience-3@2x-min.jpg 2x" 
          media="(min-width: 1440px)">

          <img
          src="/img/experience/experience-3-min.jpg"  
          alt="A cozy scene featuring a beige armchair next to a wooden side table, with an open book, 
          a cup of cappuccino on a saucer, and a window in the background." 
          srcset="/img/experience/experience-3-min.jpg 1x, 
          /img/experience/experience-3@2x-min.jpg 2x">
        </picture>
      </li>

      <li class="experience-photo-4">
        <picture>
          <source 
          srcset="/img/experience/experience-4-min.jpg 1x, 
          /img/experience/experience-4@2x-min.jpg 2x" 
          media="(max-width: 767px)">

          <source 
          srcset="/img/experience/experience-4-min.jpg 1x, 
          /img/experience/experience-4@2x-min.jpg 2x" 
          media="(min-width: 768px) and (max-width: 1439px)">

          <source 
          srcset="/img/experience/experience-4-min.jpg 1x, 
          /img/experience/experience-4@2x-min.jpg 2x" 
          media="(min-width: 1440px)">

          <img 
          src="/img/experience/experience-4-min.jpg" 
          alt="A close-up of hands pouring espresso from a small pitcher into a ceramic cup, 
          with a stainless steel milk jug and coffee-making equipment on a wooden table in the background." 
          srcset="/img/experience/experience-4-min.jpg 1x, 
          /img/experience/experience-4@2x-min.jpg 2x">
        </picture>
      </li>

      <li class="experience-photo-5">
        <picture>
          <source 
          srcset="/img/experience/experience-5-min.jpg 1x, 
          /img/experience/experience-5@2x-min.jpg 2x" 
          media="(max-width: 767px)">

          <source 
          srcset="/img/experience/experience-5-min.jpg 1x, 
          /img/experience/experience-5@2x-min.jpg 2x" 
          media="(min-width: 768px) and (max-width: 1439px)">

          <source 
          srcset="/img/experience/experience-5-min.jpg 1x, 
          /img/experience/experience-5@2x-min.jpg 2x" 
          media="(min-width: 1440px)">

          <img 
          src="/img/experience/experience-5-min.jpg" 
          alt="A cozy coffee shop interior with wooden tables and chairs, 
          a cushioned bench along the wall, pendant lights hanging from the ceiling, 
          and a sign reading 'COFFEEJOY' above a shelf with green plants. 
          People are seated and enjoying their drinks." 
          srcset="/img/experience/experience-5-min.jpg 1x, 
          /img/experience/experience-5@2x-min.jpg 2x">
        </picture>
      </li>

      <li class="experience-photo-6">
        <picture>
          <source 
          srcset="/img/experience/experience-6-min.jpg 1x, 
          /img/experience/experience-6@2x-min.jpg 2x" 
          media="(max-width: 767px)">

          <source 
          srcset="/img/experience/experience-6-min.jpg 1x, 
          /img/experience/experience-6@2x-min.jpg 2x" 
          media="(min-width: 768px) and (max-width: 1439px)">

          <source 
          srcset="/img/experience/experience-6-min.jpg 1x, 
          /img/experience/experience-6@2x-min.jpg 2x" 
          media="(min-width: 1440px)">

          <img
          src="/img/experience/experience-6-min.jpg" 
          alt="A serene outdoor setting with a wooden table holding two ceramic cups of coffee, 
          surrounded by potted plants, and a hand reaching for one of the cups under soft sunlight." 
          srcset="/img/experience/experience-6-min.jpg 1x, 
          /img/experience/experience-6@2x-min.jpg 2x">
        </picture>
      </li>

      <li class="experience-photo-7">
        <picture>
          <source 
          srcset="/img/experience/experience-7-mob-min.png 1x, 
          /img/experience/experience-7-mob@2x-min.png 2x" 
          media="(max-width: 767px)">

          <source 
          srcset="/img/experience/experience-7-tab-min.png 1x, 
          /img/experience/experience-7-tab@2x-min.png 2x" 
          media="(min-width: 768px) and (max-width: 1439px)">

          <source 
          srcset="/img/experience/experience-7-desk-min.jpg 1x, 
          /img/experience/experience-7-desk@2x-min.jpg 2x" 
          media="(min-width: 1440px)">

          <img 
          src="/img/experience/experience-7-desk-min.jpg" 
          alt="A wooden park bench with a CoffeeJoy branded paper cup, 
          a canvas tote bag, and an open book, set against a backdrop of green trees under soft sunlight." 
          srcset="/img/experience/experience-7-desk-min.jpg 1x, 
          /img/experience/experience-7-desk@2x-min.jpg 2x">
        </picture>
      </li>
    </ul>

  </div>
</section>