<header class="page-header">
  <div class="container header-container">
    <a class="header-logo-link" href="/index.html"
      ><img
        class="header-logo"
        src="/img/logo.svg"
        alt="logo"
        width="64"
        height="36"
      />
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a class="header-anchor-link" href="#welcome">About us</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-anchor-link" href="#quality">Benefits</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-anchor-link" href="#experience">Gallery</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-anchor-link" href="#testimonials">Testimonial</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-anchor-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
