<!-- Mobile Menu -->
<div class="mobile-menu" role="dialog" aria-modal="true" data-menu>
  <div class="mobile-menu__panel">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo" href="./index.html" aria-label="Coffee Joy">
        <img
          class="mobile-menu-img"
          src="/img/logo.svg"
          alt="Coffee Joy logo"
        />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Close menu"
        data-menu-close
      >
        <svg
          class="mobile-menu__icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="/img/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
    <!-- Nav list -->
    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#welcome" data-menu-close
            >About us</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#quality" data-menu-close
            >Benefits</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#experience" data-menu-close
            >Gallery</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#testimonials" data-menu-close
            >Testimonial</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#location" data-menu-close
            >Location</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
