<section id="quality">
  <div class="container">
    <p class="text-Quality-p">Quality</p>

    <h2 class="text-Why">
      Why CoffeeJoy Stands Out <br />
      from the Rest
    </h2>

    <p class="text-At">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care <br />
      by our skilled baristas. Our flexible subscription plans ensure that your
      coffee experience is <br />
      tailored to your needs.
    </p>

    <ul class="quality-container">
      <li class="item">
        <img
          class="img-quality"
          src="/img/quality/quality-1.jpg"
          srcset="/img/quality/quality-1.jpg 1x, /img/quality/quality-1@2x.jpg 2x"
          alt="Fresh roasted coffee"
        />
        <h3 class="text-title">Fresh-Roasted Coffee for Every Taste</h3>
        <p class="text-desc">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>

      <li class="item">
        <img
          class="img-quality"
          src="/img/quality/quality-2.jpg"
          srcset="/img/quality/quality-2.jpg 1x, /img/quality/quality-2@2x.jpg 2x"
          alt="Expert baristas brewing coffee"
        />
        <h3 class="text-title">Expert Baristas Crafting Your Perfect Brew</h3>
        <p class="text-desc">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>

      <li class="item">
        <img
          class="img-quality img-quality-3"
          src="/img/quality/quality-3.jpg"
          srcset="/img/quality/quality-3.jpg 1x, /img/quality/quality-3@2x.jpg 2x"
          alt="Cozy atmosphere in CoffeeJoy"
        />
        <h3 class="text-title">Cozy Atmosphere</h3>
       <p class="text-desc text-desc-3">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>
