<div id="subscribe">
<div class="container">
  <div class="subscribe-elements">

  <!-- Ліва частина -->
  
  <div class="text-column">
<h2 class="subscribe-title">Join Our Coffee Community</h2>
<p class="subscribe-content">Experience the joy of coffee delivered right to your door. Sign up today!</p>

<form class="pole">
  <input class="label-input-subscribe" type="email" placeholder="Your Email Here" id="email" name="email" required />
  <button type="submit" class="send-button">
    Subscribe

    <span class="icon-wrapper">
<svg class="send-icon" width=24; height=24; >
  <use href="../img/subscribe/icon.svg"></use>
</svg>

    </span>
    
  </button>
</form>
<p class="subscribe-text">By clicking Get Started, you agree to our <a href="#">Terms and Conditions</a>.
</p>

  </div>
  

      <!-- Права частина -->
      <div class="subscribe-image">
        <img src="../img/subscribe/subscribe-desk.jpg" alt="People working and enjoying coffee" width="640"
          srcset="../img/subscribe/subscribe-desk@2x.jpg">
      </div>
</div>


  </div>
</div>
</section>