<section id="#subscribe">
  <div class="container subscribe-container">
    <!-- Ліва частина -->

    <div class="text-column">
      <h2 class="subscribe-title">Join Our Coffee Community</h2>
      <p class="subscribe-content">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>

      <form class="pole">
        <div class="inp-wrap">
          <label for="email" class="visually-hidden"
            >Email address for subscription</label
          >
          <input
            class="subscribe-input"
            type="email"
            name="email"
            placeholder="Your Email Here"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            id="email"
            required
          />
          <p class="text-valid">Succes!</p>
          <p class="text-invalid">Invalid email, try again</p>
        </div>
        <button class="send-button" type="submit" data-modal-open>
          Subscribe
          <svg class="send-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-two-shevrons"></use>
          </svg>
        </button>
      </form>
      <p class="subscribe-text">
        By clicking Get Started, you agree to our
        <a href="#">Terms and Conditions</a>.
      </p>
    </div>

    <!-- Права частина -->

    <div class="subscribe-image-container">
      <picture>
        <!-- Для телефона -->
        <source
          media="(max-width: 767px)"
          srcset="
            /img/subscribe/subscribe-mob.jpg    1x,
            /img/subscribe/subscribe-mob@2x.jpg 2x
          "
        />

        <!-- Для планшета -->
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /img/subscribe/subscribe-tab.jpg    1x,
            /img/subscribe/subscribe-tab@2x.jpg 2x
          "
        />

        <!-- Для комп'ютера -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/subscribe/subscribe-desk.jpg    1x,
            /img/subscribe/subscribe-desk@2x.jpg 2x
          "
        />

        <img
          class="subscribe-image"
          src="/img/subscribe/subscribe-desk.jpg"
          alt="People working and enjoying coffee"
          width="640"
          height="400"
          srcset="/img/subscribe/subscribe-desk@2x.jpg"
        />
      </picture>
    </div>
  </div>
</section>
