<section class="testimonials" id="testimonials">
  <div class="container">
    <h2 class="testimonials-title">What our visitors say</h2>
    <ul class="visitors-feedback-list">
      <li class="visitors-feedback-item">
        <div class="container visitors-feedback-card">
          <ul class="visitors-rating-list">
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-negative" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="visitors-feedback-descr">
            "Every cup feels like a warm hug! I’m addicted to their seasonal
            flavors!"
          </p>
          <p class="visitors-name">Name Surname</p>
        </div>
      </li>
      <li class="visitors-feedback-item">
        <div class="container visitors-feedback-card">
          <ul class="visitors-rating-list">
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-negative" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="visitors-feedback-descr">
            "CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are always friendly."
          </p>
          <p class="visitors-name">Alice Johnson</p>
        </div>
      </li>
      <li class="visitors-feedback-item">
        <div class="container visitors-feedback-card">
          <ul class="visitors-rating-list">
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="visitors-feedback-descr">
            "I love the variety of blends offered at CoffeeJoy. Every visit
            feels like a new experience!"
          </p>
          <p class="visitors-name">Michael Smith</p>
        </div>
      </li>
      <li class="visitors-feedback-item">
        <div class="container visitors-feedback-card">
          <ul class="visitors-rating-list">
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-negative" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-negative" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="visitors-feedback-descr">
            "The pastries are to die for! I can’t resist pairing them with my
            favorite latte. Highly recommend this spot!"
          </p>
          <p class="visitors-name">Emily Davis</p>
        </div>
      </li>
      <li class="visitors-feedback-item">
        <div class="container visitors-feedback-card">
          <ul class="visitors-rating-list">
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="visitors-feedback-descr">
            "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
            here every weekend!"
          </p>
          <p class="visitors-name">James Brown</p>
        </div>
      </li>
      <li class="visitors-feedback-item">
        <div class="container visitors-feedback-card">
          <ul class="visitors-rating-list">
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-negative" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-negative" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="visitors-feedback-descr">
            "The atmosphere is perfect for working or relaxing with friends.
            Their Wi-Fi is fast too!"
          </p>
          <p class="visitors-name">Sarah Wilson</p>
        </div>
      </li>
      <li class="visitors-feedback-item">
        <div class="container visitors-feedback-card">
          <ul class="visitors-rating-list">
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-negative" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="visitors-feedback-descr">
            "I’m addicted to their seasonal flavors! Each one is crafted with
            such care and creativity."
          </p>
          <p class="visitors-name">Chris Lee</p>
        </div>
      </li>
      <li class="visitors-feedback-item">
        <div class="container visitors-feedback-card">
          <ul class="visitors-rating-list">
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-positive" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="visitors-rating-item">
              <svg class="rating-icon-negative" width="20" height="20">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="visitors-feedback-descr">
            "I appreciate how they source their coffee beans sustainably. It's
            great to support such an ethical business!"
          </p>
          <p class="visitors-name">Patricia Taylor</p>
        </div>
      </li>
    </ul>
  </div>
</section>
