<section id="welcome">
  <div class="container">
    <div class="welcome-subcontainer">
      <div class="welcome-wrapper">
        <p class="welcome-text">Welcome</p>
        <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="welcome-wrapper-location">
        <p class="welcome-paragraph">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <a class="welcome-link" href="#location"
          >Find location
          <svg class="welcome-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>
    <img
      class="welcome-image"
      srcset="
        /img/welcome/welcome-min.jpg    1x,
        /img/welcome/welcome@2x-min.jpg 2x
      "
      src="/img/welcome/welcome-min.jpg"
      alt="Passion for quality coffee"
    />
  </div>
</section>
