/* Styles for Mobile devices */
.location-intro {
    margin-bottom: 40px;
}

.location-subtitle {
    font-weight: 600;

    text-align: start;
}

.location-title {
    font-size: 36px;

    text-align: start;
    margin-top: 16px;
    margin-bottom: 24px;
}

.location-text {
    font-size: 18px;

    text-align: start;
}

.location-social-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.location-social-svg {
    fill: #0b0803;
}

.location-social-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;

    margin-top: 16px;
    margin-bottom: 8px;
}

.location-social-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;

    opacity: 1;
    transition: opacity 250ms ease;
}

.location-social-link:hover,
.location-social-link:focus {
    opacity: 0.7;
}

.location-social-link:active {
    opacity: 0.5;
}

.location-social-item-text {
    margin-bottom: 16px;
}

.location-social-link-map {
    font-weight: 500;
    opacity: 1;
    transition: opacity 250ms ease;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.location-social-link-map svg {
    fill: #0b0803;
    transition: opacity 250ms ease;
}

.location-social-link-map:hover,
.location-social-link-map:focus {
    opacity: 0.7;
}

.location-social-link-map:active {
    opacity: 0.5;
}

.location-map {
    position: relative;
    width: 100%;
    aspect-ratio: 288 / 307;
    border-radius: 40px;
    overflow: hidden;

    margin-top: 32px;
}

.location-map iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
    .location-social-list {
        flex-direction: row;
    }

    .location-social-item {
        width: calc((100% - 40px * 2) / 3);
    }

    .location-map {
        aspect-ratio: 704 / 377;
    }
}

/* Styles for Desktop devices */
@media screen and  (min-width: 1440px) {
    .location-title {
        font-size: 48px;
    }

    .location-social-list {
        flex-direction: column;
    }

    .location-social-item {
        width: 100%;
    }

    #location .container {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    .location-wrap-content {
        flex: 1;
    }

    .location-map {
        aspect-ratio: 869 / 697;
        width: 869px;
        flex-shrink: 0;
        margin: 0;
    }
}