.modal {
    padding: 0;
}

.modal-overlay {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-window {
    position: relative;
    background: #e0cbb4;
    border-radius: 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 64px 16px;
    text-align: center;
    width: 100%;
    max-width: 343px;
    margin-left: 16px;
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 0;
    box-shadow: none;
    border-radius: 0;

}

.title-and-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.modal-img {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    width: 100%;

}

.modal-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin: 0 auto;

}

.modal-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;

    text-align: center;
    margin: 0 auto;
}

.modal-close-second {
    min-width: 256px;
    height: 44px;
    font-weight: 500;
    line-height: 1.5;
    transition: opacity 250ms ease;
    width: 100%;
}

.modal-close-second:active,
.modal-close:active {
    opacity: 0.5;
}

.modal-close-second:hover,
.modal-close-second:focus,
.modal-close:hover,
.modal-close:focus {
    opacity: 0.7;
}


@media screen and (min-width: 768px) {
    .modal-window {
        min-height: 704px;
        width: 771px;
        padding: 64px;
        max-width: 100%;
    }

    .modal-img {
        width: 644px;
        height: 374px;
        margin: 48px auto;
    }

    .modal-close-second {
        max-width: 340px;
    }

    .title-and-text {
        margin-bottom: 48px;
    }

    .modal-title {
        max-width: 502px;
        font-size: 36px;
    }

    .modal-text {
        max-width: 576px;
    }
}

@media screen and (min-width: 1440px) {
    .modal-window {
        min-height: 801px;
        width: 866px;
        padding-top: 64px;

        align-items: center;
    }

    .modal-close-second {
        max-width: 274px;
    }

    .modal-title {
        max-width: 738px;
        font-size: 48px;
    }
}