.quality-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding-top: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 421px;
  text-align: center;
}

.img-quality {
  border-radius: 32px;
  width: 421px;
  height: 240px;
  object-fit: cover;
}

.text-Why {
  font: 400 48px / 1.2 "Aboreto", sans-serif;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
  padding-top: 24px;
}

.text-At {
  font: 400 18px / 1.5 "Quicksand", sans-serif;
  text-align: center;
  color: #0b0803;
  padding-top: 30px;
}

.text-Quality-p {
  font: 600 16px / 1.5 "Quicksand", sans-serif;
  text-align: center;
  color: #0b0803;
  padding-top: 16px;
}

.text-title {
  font: 600 20px / 1.5 "Quicksand", sans-serif;
  text-align: center;
  color: #0b0803;
  margin-top: 16px;
}

.text-desc {
  font: 400 16px / 1.5 "Quicksand", sans-serif;
  text-align: center;
  color: #3a3125;
  margin-top: 8px;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .quality-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding-top: 32px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .item img.img-quality {
    border-radius: 32px;
    object-fit: cover;
  }

  .item:nth-child(1) {
    order: 1;
    max-width: 340px;
  }
  .item:nth-child(1) .img-quality {
    width: 340px;
    height: 193px;
  }

  .item:nth-child(2) {
    order: 2;
    max-width: 340px;
  }
  .item:nth-child(2) .img-quality {
    width: 340px;
    height: 193px;
  }

  .item:nth-child(3) {
    order: 3;
    flex-basis: 100%;
    max-width: 100%;
  }
  .item:nth-child(3) .img-quality {
    width: 704px;
    height: 401px;
  }

  .text-Why {
    font: 400 36px/1.2 "Aboreto", sans-serif;
    letter-spacing: -0.01em;
    padding-top: 24px;
    color: #0b0803;
  }

  .text-At {
    font: 400 18px/1.5 "Quicksand", sans-serif;
    padding-top: 30px;
    color: #0b0803;
  }

  .text-Quality-p {
    font: 600 16px/1.5 "Quicksand", sans-serif;
    padding-top: 16px;
    color: #0b0803;
  }

  .text-title {
    font: 600 20px/1.5 "Quicksand", sans-serif;
    margin-top: 16px;
    color: #0b0803;
  }

  .text-desc {
    font: 400 16px/1.5 "Quicksand", sans-serif;
    margin-top: 8px;
    color: #0b0803;
  }
}
 

