

.text-Quality-p {
  font: 600 16px / 1.5 'Quicksand', sans-serif;
  text-align: center;
  color: #0b0803;
  padding-top: 16px;
}

.text-Why {
  font: 400 48px / 1.2 'Aboreto', sans-serif;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
  padding-top: 24px;
}

.text-At {
  font: 400 18px / 1.5 'Quicksand', sans-serif;
  text-align: center;
  color: #0b0803;
  padding-top: 30px;
}

.quality-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding-top: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 421px;
  text-align: center;
}

.img-quality {
  border-radius: 32px;
  width: 421px;
  height: 240px;
  object-fit: cover;
}

.text-title {
  font: 600 20px/1.5 'Quicksand', sans-serif;
  color: #0b0803;
  margin-top: 16px;
}

.text-desc {
  font: 400 16px/1.5 'Quicksand', sans-serif;
  color: #3a3125;
  margin-top: 8px;
}


