.subscribe-elements {
    display: flex;
        gap: 32px;
}
.subscribe-title {
font-size: 48px;
margin-bottom: 24px;
}

.subscribe-content {
    font-size: 18px;
    margin-bottom: 32px;
}
.subscribe-text {
    font-size: 12px;
}
.pole {
    margin-bottom: 16px;
}
.label-input-subscribe {
    border-radius: 12px;
    width: 339px;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0);

}
.send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 10px 24px;
    width: 158px;
    height: 44px;
}
.send-icon {
display: block;
width: 24px;
height: 24px;
margin-left: 12px;
}
.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
}